<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Higher or Lower: Reddit</title>

        <link rel="stylesheet" href="static/css/play.css">
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <div id="top_counters"> <!--maybe grid layout for this?-->
            <div id="highscore_counter">
                <p id="highscore"> Highscore: {{session.highscore}} </p>

                <p id="score">{{session.score}}</p>
            </div>       
        </div>

        <div id="gameplay_cards"> <!--probably flex box?-->

            <div id="left_card" class="subreddits">
                <img class="subreddit_img" src="static/pictures/placeholder.png" alt="placeholder">
                <h1 class="subreddit_name">placeholder1</h1>
                <h2 class="subcount">subcount</h2>
            </div>

            <div id="right_card" class="subreddits">
                <img class="subreddit_img" src="static/pictures/placeholder.png" alt="placeholder">
                <h1 class="subreddit_name">placeholder2</h1>

                <button>upvote</button> <button>downvote</button>
            </div>
        </div>

        <div id="debugging">

            <p>---------------for form submitting---------------</p>
            <form action="/play" method="post">
                <div>
                    <label type="text">upvote</label>
                    <input type="submit" name="action" value="upvote">
                </div>
                <div>
                    <label type="text">downvote</label>
                    <input type="submit" name="action" value="downvote">
                </div>
        </div>

    </body>

    <script src="static/scripts/play.js"></script>

</html>
